<%= javascript_include_tag "application.js" %>


<title>Collections | MXMNY</title>

<body style="background-image:none;">


	

<div id="collection-index-div">
  <ul>
		<% @listings_collection.each do |listing| %>
					<% if listing.default_picture %>

			<li>
				<figure class="collection-figure">
				
	            	<%= link_to image_tag(listing.default_picture.image.url), collection_path(listing) %>
	            	<a href="/collections/<%= listing.id %>">
	            		<figcaption class="collection-figcaption">
		            		<p>
		            			<span class="collection_name"><%= listing.name %>
		            			</span>
		            			<br>
		            			<span class="collection_description"><%= listing.description.html_safe %></span>
		            		</p>
	            		</figcaption>
	            	</a>
	            	<% else %>
	              		N/A
	            	<% end %>
	            </a>
            	</figure>

			</li>
			
			<% end %>

  </ul>

</div>





</body>