<%= javascript_include_tag "application.js" %>
<script type="text/javascript" src="/assets/application.js"></script>

<script>

  if 
	 	( $("img[alt*='M2mk']") )
	 {

	 	$( "img[alt*='M2mk']").css("width", "80%");

	 };

 if 
	 	( $("img[alt='M2mk final 16 copy']") )  // Cream hoodie
	 {

	 	$( "img[alt='M2mk final 16 copy']").css("width", "100%");

	 };

if 
	 	( $("img[alt='M2mk final 29 copy']") ) // Conqueror Shirt
	 {

	 	$( "img[alt='M2mk final 29 copy']").css("width", "100%");

	 };

if 
	 	( $("img[alt='M2mk final 23 copy']") ) // Denim Jacket
	 {

	 	$( "img[alt='M2mk final 23 copy']").css("width", "100%");

	 };
	
</script>

<title>Shop | MXMNY</title>
<body style="background-image:none;">
<div id="listings-index-div">
	<ul id="listings-index-nav">
		<!-- <li>NEW</li> -->
		<li>NEW</li>
		<!-- <li>BOTTOMS</li> -->
		<!-- <li>HEADWEAR</li> -->
		<!-- <li>WRISTWEAR</li> -->

	</ul>
</div>





<table class="products" id="new">
	<tr>
		<td class="col">
			<ul>
			<% @listings_new.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>



<table class="products" id="tops">
	<tr>
		<td class="col">
			<ul>
			<% @listings_tops.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="bottoms">
	<tr>
		<td class="col">
			<ul>
			<% @listings_bottoms.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="headwear">
	<tr>
		<td class="col">
			<ul>
			<% @listings_headwear.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="wristwear">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wristwear.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<!-- use this table to delete collections -->

<!-- <table class="products" id="wristwear">
	<tr>
		<td class="col">
			<ul> -->
			<%# @listings_collection.each do |listing| %>

				<%# if listing.pictures.first %>
            	<!-- <li> -->
            	<!-- listing image pictures -->
            	<%#= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<%# else %>
              		<!-- N/A -->
            	<%# end %>
				
				<!-- Name, price and buttons -->
				<!-- <form method="get"> -->
				<!-- <input type="hidden" name="id" value="<%#=listing.id%>"> -->
				<!-- <a href="<%#=listing_path(listing)%>"><%#=listing.name %></a><br>  -->
				<!-- <p>$<%#=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <%# if logged_in? %>
							<!-- <p><%#=link_to 'Edit', edit_listing_path(listing) %></p> -->
							<!-- <p><a href="?remove=<%#=listing.id%>">Delete</a></p><br> -->
							<%# end %>
				<!-- 			<br>
							<br>
				</form>	

				</li> -->
				<%# end %>
	<!-- 		</ul>
		</td>
	</tr>
</table>
 -->




</body>