<%= javascript_include_tag "application.js" %>


<title>Shop | MXMNY</title>


	<hr style="width:100%;" class="mobile-hr-hidden">


<!-- <img id="intro-listings-picture" style="width:85%;margin:0 auto;display:block" src="assets/listings-intro-picture-e8b5d8bf3efde14e7514f9ff12a7aab24a75ed27c7be023380c887a663d415f9.png"> -->


<!-- <h1 id="listings-index-h1"> "GODSEND"</h1>
<p id="new-caption">
The breakthrough collection from Mercy X Mankind has descended upon us. We bestow upon thee a culmination from the heavens. Exotic textiles, minimal design and luxurious fit are our staples for this collection. Pieces ranging from Parisian Striped Trousers, Studded Denim Jackets and Shearling Lined Flannels to a Quilted Silver Bomber and Corduroy Overcoats are just a few pieces to explore. With various pieces that are both versatile and unique, you can now elevate your style to the greatest of heights. Shop below.

</p>

<img id="listings-index-pic" src="assets/listings-index-pic-9fbb9fd6e86dbf46f94eb3e6d853c1e01d6fe600501e0c3c332c9f3bb32a8609.png">
 -->
<!-- 
<div id="listings-sidebar">
	<ul id="listings-sidebar-list">
		<li><a href="/listings">ALL</a></li>

<li><a href="/listings-jackets">JACKETS</a></li>
		<li><a href="/listings-tops">TOPS</a></li>
		<li><a href="/listings-hoodies">HOODIES</a></li>
		<li><a href="/listings-long_sleeves">LONG SLEEVES</a></li>
		<li><a href="/listings-short_sleeves">SHORT SLEEVES</a></li>
		<li><a href="/listings-tees">T-SHIRTS</a></li>
		<li><a href="/listings-bottoms">BOTTOMS</a></li>
		<li><a href="/listings-denim">DENIM</a></li>
		<li><a href="/listings-trousers">TROUSERS</a></li>
		<li><a href="/listings-shorts">SHORTS</a></li>
		<li><a href="/listings-head">HEADWEAR</a></li>
		<li><a href="/listings-accessories">BAGS</a></li>
	</ul>

</div> -->
<table class="products" id="new">
	<tr>
 		<td class="col">
			<ul>
			<h1 class="product-heading-h1">NEW</h1>


			<% @listings.each do |listing| %>
			
			<% if listing.is_hidden %> 
				<li style="display:none;"></li>

			<%else%>

				<% if listing.is_new %>


            	<li>
            	<figure class="listings-figure"> 	
		            	
		        <%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		            	
            	<a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
								<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>

		            		</p> 

		            	</figcaption>
				</a>
				<p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p> 

		            	<% else %>

		            	<% end %>
		           </figure>

				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>





<hr>
<!-- <img style="width:60%;margin:0 auto;display:block;" src="assets/intro-tops.png"> -->


<table class="products" id="jackets">
	<tr>
 		<td class="col">
			<ul>
			<h1 class="product-heading-h1">OUTERWEAR \ JACKETS</h1>


			<% @listings_jackets.each do |listing| %>

			<% if listing.is_hidden %> 
				<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<hr>




<table class="products" id="trousers">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">TROUSERS</h1>

			<% @listings_trousers.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<hr>


<table class="products" id="denim">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">DENIM</h1>

			<% @listings_denim.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>



<hr>






<table class="products" id="hoodies">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">TOPS \ SWEATSHIRTS</h1>



			<% @listings_hoodies.each do |listing| %>

			<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<hr>


<table class="products" id="long_sleeves">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">TOPS \ LONG SLEEVE</h1>


			<% @listings_long_sleeves.each do |listing| %>

			<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<hr>


<table class="products" id="short_sleeves">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">TOPS \ SHIRTS</h1>

			<% @listings_short_sleeves.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<hr>


<table class="products" id="tees">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">TOPS \ TEES</h1>


			<% @listings_tees.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>



<hr>


<table class="products" id="head">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">HEADWEAR</h1>

			<% @listings_head.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<hr>



<table class="products hide" id="accessories">
	<tr>
		<td class="col">
			<ul>
			<h1 class="product-heading-h1">BAGS</h1>


			<% @listings_accessories.each do |listing| %>

				<% if listing.is_hidden %> 
								<li style="display:none;"></li>

			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>








<table class="products" id="wristwear">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wristwear.each do |listing| %>

				<% if listing.is_hidden %> 
				<li></li>
			<%else%>

				<% if listing.default_picture %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
			            			<span style="padding:0px;color:black;">

			            				$<%= listing.price %>.00

			            			</span>
			            		<% else %>
									<span style="padding:0px;color:red;">

			            				$<%= listing.price %>.00

			            			</span>
									<span style="padding: 0px;text-decoration: line-through;">

										$<%= listing.original_price %>.00

									</span>
								<% end %>
		            		</p> 

		            	</figcaption>
		           </a>

		           <p class="mobile-figure-p"><%= listing.name.upcase %></p>
				<p class="mobile-figure-p"><%= listing.price %> USD</p>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form id="index-form" method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
			<% end %>
				<% end %>
			</ul>
		</td>
	</tr>
</table>




<!-- 	<div id="mc_embed_signup">
			<form action="//mercytomankindco.us13.list-manage.com/subscribe/post?u=5194035157454408880655014&amp;id=5b29eda186" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Join Our Newsletter!</label>
					<p>Join our newsletter today for exclusive promotions, offers and insider details on your favorite products.</p>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL ADDRESS" required>
			   
				    <div style="position: absolute; left: -5000px;" aria-hidden="true">
					    <input type="text" name="b_5194035157454408880655014_5b29eda186" tabindex="-1" value="">
				    </div>
					    
					<div class="clear">
					    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				    </div>
				</div>
			</form>
		</div>
 -->

