<%= javascript_include_tag "application.js" %>


<title>Shop | MXMNY</title>
			<h1 class="logo-text-h1">MERCY X MANKIND</h1>
			<h3 class="logo-text-h3">NEW YORK</h3>
			<hr>
	<div id="listings-index-div">
		<ul id="listings-index-nav">
			<li>OUTERWEAR</li>
				<ul class="hidden-nav" id="listings-outerwear-nav-hidden">
					<li>JACKETS</li>
				</ul>
			<li>APPAREL</li>
				<ul class="hidden-nav" id="listings-apparel-nav-hidden">
					<li>TOPS</li>
					<li>BOTTOMS</li>
					<li>"JUDGEMENT DAY" CAPSULE</li>
				</ul>
			<li>ACCESSORIES</li>
				<ul class="hidden-nav" id="listings-accessories-nav-hidden">
					<li>HEADWEAR</li>
					<!-- <li>WRISTWEAR</li> -->
				</ul>
			<li><a href="/collections">LOOKBOOKS</a></li>
			<br>

		</ul>

	</div>


<img id="intro-listings-picture" style="width:85%;margin:0 auto;display:block" src="assets/listings-intro-picture-e8b5d8bf3efde14e7514f9ff12a7aab24a75ed27c7be023380c887a663d415f9.png">

<table class="products hide" id="new">
	<tr>
		<td class="col">
			<ul>
			<% @listings_new.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<!-- <img style="width:60%;margin:0 auto;display:block;" src="assets/intro-tops.png"> -->


<table class="products" id="jackets">
	<tr>
 		<td class="col">
			<ul>
			<% @listings_jackets.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<figure class="listings-figure"> 	
		            	
		        <%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		            	
            	<a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
								<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
				</a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>

				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<!-- <ul>
	<li></li>
	<li><img src="assets/striped.png"></li>
</ul> -->



<table class="products" id="hoodies">
	<tr>
		<td class="col">
			<ul>
			<% @listings_hoodies.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		           </a>
		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="long_sleeves">
	<tr>
		<td class="col">
			<ul>
			<% @listings_long_sleeves.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		           	<a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
							<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="products" id="short_sleeves">
	<tr>
		<td class="col">
			<ul>
			<% @listings_short_sleeves.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		           <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            		<%= listing.name.upcase %> <br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products hide" id="ss16capsule">
	<h1 class="headers-hide">SPRING/SUMMER 16</h1>
	<h3 class="headers-hide">'JUDGEMENT DAY' CAPSULE</h3>
	<tr>
		<td class="col">
			<ul>
			<% @listings_ss16capsule.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
				<figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		            <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %> <br><br><br> 
		            			<%=	listing.description.upcase.html_safe%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="tanks">
	<tr>
		<td class="col">
			<ul>
			<% @listings_tanks.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
		           <figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		            <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %> <br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
						
						<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<!-- <br> -->
							<!-- <br> -->
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>



<table class="products" id="bottoms">
	<tr>
		<td class="col">
			<ul>
			<% @listings_bottoms.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		            <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %> <br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<table class="products" id="head">
	<tr>
		<td class="col">
			<ul>
			<% @listings_head.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<figure class="listings-figure"> 	
		            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
		            <a href="<%=listing_path(listing)%>">
		            	<figcaption class="listings-figcaption"> 

		            		<p> 
		            			<%= listing.name.upcase %><br><br><br> 
		            			<%=	listing.description.upcase%> <br><br>
		            			<span style="padding:0px;color:red;">

		            				$<%= listing.price %>.00

		            			</span>

								<span style="padding: 0px;text-decoration: line-through;">

									$<%= listing.original_price %>.00

								</span>
		            		</p> 

		            	</figcaption>
		            </a>

		            	<% else %>
		              		N/A
		            	<% end %>
		           </figure>
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<!-- <a href="<%=listing_path(listing)%>"><%=listing.name %></a><br>  -->
				<!-- <p>$<%=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>







<table class="products" id="wristwear">
	<tr>
		<td class="col">
			<ul>
			<% @listings_wristwear.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				
				<!-- Name, price and buttons -->
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
				<p>$<%=listing.price %>.00</p><br>
				<div class="line-separator"></div>
				
				 <br/>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_listing_path(listing) %></p>
							<p><a href="?remove=<%=listing.id%>">Delete</a></p><br>
							<% end %>
							<br>
							<br>
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>


<!-- use this table to delete collections -->

<!-- <table class="products" id="wristwear">
	<tr>
		<td class="col">
			<ul> -->
			<%# @listings_collection.each do |listing| %>

				<%# if listing.pictures.first %>
            	<!-- <li> -->
            	<!-- listing image pictures -->
            	<%#= link_to image_tag(listing.pictures.first.image.url), listing_path(listing) %>
            	<%# else %>
              		<!-- N/A -->
            	<%# end %>
				
				<!-- Name, price and buttons -->
				<!-- <form method="get"> -->
				<!-- <input type="hidden" name="id" value="<%#=listing.id%>"> -->
				<!-- <a href="<%#=listing_path(listing)%>"><%#=listing.name %></a><br>  -->
				<!-- <p>$<%#=listing.price %>.00</p><br> -->
				<!-- <div class="line-separator"></div> -->
				
				 <!-- <br/> -->
							 <%# if logged_in? %>
							<!-- <p><%#=link_to 'Edit', edit_listing_path(listing) %></p> -->
							<!-- <p><a href="?remove=<%#=listing.id%>">Delete</a></p><br> -->
							<%# end %>
				<!-- 			<br>
							<br>
				</form>	

				</li> -->
				<%# end %>
	<!-- 		</ul>
		</td>
	</tr>
</table>
 -->




