



<table id="products">
	<tr>
		<td class="col">
			<ul>
				<% @listings.each do |listing| %>
				<li>
				<form method="get">
				<input type="hidden" name="id" value="<%=listing.id%>">
				<a href="<%=listing_path(listing)%>"><%=listing.name %></a><br> 
							<p>$<%=listing.price %>.00</p> <br>
							<div class="line-separator"></div>
							
							 <br/>
							 <% if logged_in? %>
							<%=link_to 'Edit', edit_listing_path(listing) %>
							<a href="?remove=<%=listing.id%>">Delete</a><br>
							<% end %>
							<br>
							<br>
					</form>	
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>