	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>






   <ul id="listings-show-pictures">
   <% @pictures.each do |pic| %>
      <li><%= image_tag pic.image.url %></li>
        <%# link_to "Edit picture", picture_path(pic) %>

        <%#
          link_to "Delete picture", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>


     
<% end %> 
    </ul>  










<div id="listings-details">
	<form method="get">
				<input type="hidden" name="product_id" value="<%=@listing.id%>">
				<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
				<h1><%= @listing.name %></h1><br>
				<p><%= @listing.description %></p>
				<p>$<%= @listing.price %></p> <br>
				<select name="size"><br>
				<% @size = @listing.size.split(",") %>

					<% @size.each do |s| %>
						<option value="<%= s %>"><%= s %></option>
					<% end %>

				 </select>
				 <br/>

				 <% if logged_in? %>
				<%=link_to 'Edit', edit_listing_path(@listing) %>
				<a href="?remove=<%=@listing.id%>">Delete</a><br>
				<% end %>
				<br>
				<input id="add-to-cart-btn" type="submit" value="Add to cart">
				<br>
				<br>

	</form>	
</div>



  <input type="hidden" id="listingID" value="<%= @listing.id %>">






