<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'sweetalert', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "sweet-alert.min.js" %>




<title><%= @listing.name %> | MXMNY</title>

<body style="background-image:none;">



<!-- <div>
    <a class="magnifier-thumb-wrapper" href="http://en.wikipedia.org/wiki/File:Starry_Night_Over_the_Rhone.jpg">
        <img id="thumb" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Starry_Night_Over_the_Rhone.jpg/200px-Starry_Night_Over_the_Rhone.jpg">
    </a>
    <div class="magnifier-preview" id="preview" style="width: 400px; height: 333px">Starry Night Over The Rhone<br>by Vincent van Gogh</div>
</div> -->



	<div id="listings-show-div">
	   <ul id="listings-show-pictures">
		   
		   <% @pictures.each do |pic| %>

		      <li>
			      <a href="/pictures/<%=pic.id%>">
			      	<img class="" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'>
			      </a>

			      	<% if logged_in? %>
			      	<%= pic.description %>
			      	<%= pic.link %> 


			      <br>

				 	<%= form_for pic, remote: true, :html => {:class => "edit-form"} do |f| %>
				      	<%= f.text_field :description, :placeholder => "DESCRIPTION" %>
				      	<%= f.text_field :link, :placeholder => "LINK FOR SLIDESHOW" %>
				      	<%= f.label :default %><%= f.check_box :default %>
				      	<%= f.submit "Update", :id => "update-button"  %><br><br>
				    <% end %>

				    <%= form_for pic, remote: true, method: :delete, :html => {:class => "delete-form"} do |f| %>
				    	<% f.text_field :image %>
				    	<%= f.submit "Delete Picture", :id => "delete-picture-submit" %>
				    <% end %>

				    <br><br>
			     		<!-- <button id="picture-delete"> Delete Picture </button> -->
		      </li>

			  		<% end %>

			<% end %> 
	    </ul>
	</div>
</li>









	<div id="listings-details">
	
		   <a class="listings-back-link" href="/listings"> MENS \ </a> 
		   <a class="listings-back-link" href="/listings"> <%=@listing.section.upcase%>
		<%= form_tag add_to_cart_listing_path(@listing) do %>
					<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
					<p style="font-size:20px;"><%= @listing.name %></p><br>


					<% if @listing.on_sale == false %> <!-- if listing is NOT ON SALE  -->
					<p style="color:gray; margin:0px;">$<%= @listing.price %></p><br>
					<% else %>
						<p style="color:red; margin:0px;">$<%= @listing.price %></p><p style="color:gray; margin:0px;text-decoration: line-through;">$<%= @listing.original_price %></p><br>

					<% end %>
					<!-- Change color to gray when there is no sale -->
					<p style="margin:0px 100px 0px 100px;"><%= @listing.description.upcase.html_safe %></p>
					<p style="font-size:12px;text-decoration:underline;color:gray;"> Fabric/Material </p>
					<p><%= @listing.fabric %></p>
					<p style="font-size:12px;text-decoration:underline;color:gray;"> Fit </p>

					<p><%= @listing.fit.html_safe %></p>
					<p style="font-size:12px;text-decoration:underline;color:gray;"> Care </p>

					<p><%= @listing.care %></p>

					<div class="line-separator"></div>

					<p>Questions regarding fit, details, care etc.? <span id="contact-us">Contact us here.</span><a id="contact-email" style="color:black;display:none;" href="mailto:info@mercytomankindco.com">info@mercytomankindco.com</a></p>

					<div class="line-separator"></div>


					<p style="color:gray;text-decoration:underline;">Size</p>
					<select id="size" name="size"><br>
					<% @size = @listing.size.split(",") %>
							<option>CHOOSE SIZE ↓</option>
						<% @size.each do |s| %>
							<option value="<%= s %>"><%= s %></option>
						<% end %>

					 </select>
					 <br/>


					<br>
					<input id="add-to-cart-btn" type="submit" value="Add To Bag"><br>

					<br>
					<br>
									<div class="line-separator"></div>


		<% end %>
		<br>

		<% if logged_in? %>
						<%= form_for @listing, remote: true, :html => {:multipart => true, :class => "edit-form"} do |f| %>
							<%= f.label(:name) %>
						  	<%=f.text_field :name %><br><br>
						  	<%= f.label :price %>
						  	<%= f.number_field :price %><br><br>
						  	<%= f.label "New?" %>
						  	<%= f.check_box :is_new %> 
						  	<%= f.label "On Sale?" %>
						  	<%= f.check_box :on_sale %><br><br>
						  	<%= f.label "Sale Price" %>
						  	<%= f.text_field :original_price %><br><br>
						  	<%= f.label("Fabric/Material") %>
							<%= f.text_field :fabric %><br><br>
						  	<%= f.label :fit %>
						  	<%= f.text_field :fit %><br><br>
						  	<%= f.label :care %>
						  	<%= f.text_field :care %><br><br>
					    	<%=f.label :size %>
						    <%= f.text_field :size %><br><br>
						    <!-- <input type="text" name="listing[size]" /><br><br> -->
						    <%=f.label :description %>
						   	<%=f.text_area :description %><br><br>
						  	<%=f.label :section %>
							<%= f.text_field :section %> <br><br>
							<%= file_field_tag "images[]", type: :file, multiple: true %><br><br>
					      	<%= f.submit "Update", :id => "update-button"  %><br><br>
					    <% end %>

					<%= link_to "Delete", @listing, :method => :delete %>
					
					<% end %>

	</div>









</body>