	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
<script type="text/javascript" src="/assets/application.js"></script>
<%= javascript_include_tag "application.js" %>

<title><%= @listing.name %> | MXMNY</title>

<body style="background-image:none;">




   <ul id="listings-show-pictures">
   <a href="/listings"> ←    BACK </a>
   <% @pictures.each do |pic| %>
      <li><%= image_tag pic.image.url %></li>
      <%= pic.description %>



      <% if logged_in? %>
      <%= link_to "Edit picture", picture_path(pic) %>
        <%# link_to "Edit picture", picture_path(pic) %>

     <%= link_to "Delete picture", @picture, :method => :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>

     
<% end %> 
    </ul>  










<div id="listings-details">
	<form method="get">
				<input type="hidden" name="product_id" value="<%=@listing.id%>">
				<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
				<p style="font-size:30px;text-decoration:underline;"><%= @listing.name %></p><br>
				<p style="color:gray; margin:0px;">$<%= @listing.price %></p> <br>
				<p style="margin:0px;"><%= @listing.description.upcase %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Fabric/Material </p>
				<p><%= @listing.fabric %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Fit </p>
				<p><%= @listing.fit %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Care </p>
				<p><%= @listing.care %></p>
				<div class="line-separator"></div>

				<p style="color:gray;text-decoration:underline;">Size</p>
				<select id="size" name="size"><br>
				<% @size = @listing.size.split(",") %>

					<% @size.each do |s| %>
						<option value="<%= s %>"><%= s %></option>
					<% end %>

				 </select>
				 <br/>

				 <% if logged_in? %>
				<%=link_to 'Edit', edit_listing_path(@listing) %>
				<a href="?remove=<%=@listing.id%>">Delete</a><br>
				<% end %>
				<br>
				<input id="add-to-cart-btn" type="submit" value="Add to bag">

				<br>
				<br>
								<div class="line-separator"></div>


	</form>	
</div>





  <input type="hidden" id="listingID" value="<%= @listing.id %>">






</body>