<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'sweetalert', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "sweet-alert.min.js" %>

<!-- <script>

 if 
	 	( $("img[alt*='M2mk']") )
	 {

	 	$( "img[alt*='M2mk']").css("width", "45%");

	 };

</script> -->


<title><%= @listing.name %> | MXMNY</title>

<body style="background-image:none;">



<!-- <div>
    <a class="magnifier-thumb-wrapper" href="http://en.wikipedia.org/wiki/File:Starry_Night_Over_the_Rhone.jpg">
        <img id="thumb" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Starry_Night_Over_the_Rhone.jpg/200px-Starry_Night_Over_the_Rhone.jpg">
    </a>
    <div class="magnifier-preview" id="preview" style="width: 400px; height: 333px">Starry Night Over The Rhone<br>by Vincent van Gogh</div>
</div> -->

   <ul id="listings-show-pictures">
   <a href="/listings"> ←    BACK </a>
   <% @pictures.each do |pic| %>
      <li><a href="/pictures/<%=pic.id%>"><img class="elevatezoom" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'></a></li>



      <% if logged_in? %>
      <br>
      <%= link_to "Edit picture", picture_path(pic) %><br>
        <%# link_to "Edit picture", picture_path(pic) %>

     <%= link_to "Delete picture", @picture, :method => :delete,
                                      data: { confirm: "You sure?" } %><br>
      <% end %>

     
<% end %> 
    </ul>  










<div id="listings-details">
	<%= form_tag add_to_cart_listing_path(@listing) do %>
				<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
				<p style="font-size:30px;text-decoration:underline;"><%= @listing.name %></p><br>
				<p style="color:gray; margin:0px;">$<%= @listing.price %></p> <br>
				<p style="margin:0px 100px 0px 100px;"><%= @listing.description.upcase.html_safe %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Fabric/Material </p>
				<p><%= @listing.fabric %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Fit </p>

				<p><%= @listing.fit %></p>
				<p style="font-size:17px;text-decoration:underline;color:gray;"> Care </p>

				<p><%= @listing.care %></p>
				<div class="line-separator"></div>

				<p style="color:gray;text-decoration:underline;">Size</p>
				<select id="size" name="size"><br>
				<% @size = @listing.size.split(",") %>

					<% @size.each do |s| %>
						<option value="<%= s %>"><%= s %></option>
					<% end %>

				 </select>
				 <br/>

				 <% if logged_in? %>
				<%=link_to 'Edit', edit_listing_path(@listing) %>
				<%= link_to "Delete", @listing, :method => :delete %>
				<% end %>

				<br>
				<input id="add-to-cart-btn" type="submit" value="Add to bag">

				<br>
				<br>
								<div class="line-separator"></div>


	<% end %>
</div>











</body>