	

<%= javascript_include_tag "application.js" %>









<title><%= @listing.name %> | MXMNY</title>

<body style="background-image:none;">




<!-- MOBILE SLIDER -->


<div style="height:1300px" class="swiper-container3">

	<div class="swiper-wrapper">
		<% @pictures.each do |pic| %>

			<div class="swiper-slide">
				<img class="list-pic" src='<%= pic.image.url %>'>
			</div>

		<% end %>
	</div>

	    <div style="left:35px;" class="swiper-button-prev swiper-button-white"></div>
    <div style="right:35px;" class="swiper-button-next swiper-button-white"></div>
    

</div>

<!-- END MOBILE SLIDER -->
 




<div id="listings-show-div" class="zoomGalleryActive">
	<ul id="listings-show-pictures">
	   
	   <% @pictures.each do |pic| %>
      	<% if logged_in? %> 
	      <li>
		      <a href="/pictures/<%=pic.id%>" class="" >
		      	<img class="zoom1" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'>
		      	<!-- <img id="a<%= pic.id %>" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'> -->
		      </a>
		      	<%= pic.description %>
		      	<%= pic.link %> 
		      <br>

			 	<%= form_for pic, remote: true, :html => {:class => "edit-form"} do |f| %>
			      	<%= f.text_field :description, :placeholder => "DESCRIPTION" %>
			      	<%= f.text_field :link, :placeholder => "LINK FOR SLIDESHOW" %>
			      	<%= f.label :default %><%= f.check_box :default %>
			      	<%= f.submit "Update", :id => "update-button"  %><br><br>
			    <% end %>

			    <%= form_for pic, remote: true, method: :delete, :html => {:class => "delete-form"} do |f| %>
			    	<% f.text_field :image %>
			    	<%= f.submit "Delete Picture", :id => "delete-picture-submit" %>
			    <% end %>

			    <br><br>
	      </li>

	      <% else %> 
		
		<li>
	      <a href="" class="" >
		      	<img class="zoom1" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'>
		      </a>
	     </li>

		<% end %>

		<% end %> 
	</ul>
</div>














	<div id="listings-details">
	
		   <a style="padding-left: 30px;" class="listings-back-link" href="/listings"> MENS \ </a> 
		   <a class="listings-back-link" href="/listings"> <%=@listing.section.upcase%> </a>
		<%= form_tag add_to_cart_listing_path(@listing) do %>
					<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
					<p class="listing-name" style="" class="listings-details-header-text"><%= @listing.name %></p>


					<% if @listing.on_sale == false %> <!-- if listing is NOT ON SALE  -->
						<p id="price-text" class="listings-details-subtext"><%= number_to_currency(@listing.price) %>

					<% else %>
						<p class="listings-details-subtext" style="color:red; margin:0px 100px -10px 30px;">$<%= @listing.price %></p>
						<p class="listings-details-subtext" style="color:gray; margin:0px 100px -10px 30px;text-decoration: line-through;">$<%= @listing.original_price %></p><br>

							

					<% end %>

					<div style="margin-bottom: 30px;width:90%;" class="line-separator"></div>
					<!-- Change color to gray when there is no sale -->


					<select id="size" name="size"><br>
						<% @size = @listing.size.split(",") %>
						<% @size.each do |s| %>
							<option value="<%= s %>"><%= s %></option>
						<% end %>
				 	</select>

					<input id="add-to-cart-btn" type="submit" value="ADD TO CART +"><br>

<hr>



					<p id="details-text-mobile" class="listings-details-header-text">DETAILS / STORY</p>
					<p class="listings-details-subtext"><%= @listing.description.upcase.html_safe %></p>
					<p class="listings-details-header-text"> FABRIC / MATERIAL </p>
					<p class="listings-details-subtext"><%= @listing.fabric.upcase %></p>
					<p class="listings-details-header-text"> FIT </p>
					<p class="listings-details-subtext"><%= @listing.fit.upcase.html_safe %></p>
					<p class="listings-details-header-text"> CARE </p>
					<p class="listings-details-subtext"><%= @listing.care.upcase %></p>

					<button id="size_guide_open_btn" class="open">SIZE GUIDE</button>
					
					<div style="margin-bottom: 140px;" class="line-separator"></div>

					<p style="color:black;text-align: center;" id="contact-text" class="listings-details-header-text">Questions regarding fit, details, care etc.? <span id="contact-us">Contact us here.</span><a id="contact-email" style="color:black;display:none;" href="mailto:info@mercyxmankind.com">info@mercyxmankind.com</a></p>


				
					 <br/>


					<br>
					

					<br>
					<br>
									<div class="line-separator"></div>


		<% end %>

		<!-- SIZE GUIDE POPUP -->

		<div class="popup-overlay">
					<!--Creates the popup content-->
						 <div class="popup-content">
						 	<% if @listing.size_guide.present? %>
							<img id="size_guide_img"  src="/assets/<%=@listing.size_guide%>"><br>
							<%else%>

							<h1 id="size_guide_notavailable_text">SIZE GUIDE NOT AVAILABLE AT THIS TIME.</h1>
							<% end %>
						   <!--popup's close button-->
						    <button id="size_guide_close_btn" class="close">CLOSE</button>    
						</div>
					</div>
		<br>
		<!-- END -->


		 <% @upsell_listings_arr = @listings.sample(2) %> 
		<!-- Randomly selecting two listings and creating a new array containing them-->
			
		<!-- REMOVING ANY LISTINGS FROM SECTIONS PRESS, SLIDESHOW AND COLLECTION  -->

		<% @listings_press = Listing.where(:section => "Press") %>
			<% @listings_press.each do |listing| %>
				<% if @upsell_listings_arr.include? listing %>
					<% @upsell_listings_arr.delete(listing) %>
				<% end %>
			<% end %>

		<% @listings_slideshow = Listing.where(:section => "Slideshow") %>
			<% @listings_slideshow.each do |listing| %>
				<% if @upsell_listings_arr.include? listing %>
					<% @upsell_listings_arr.delete(listing) %>
				<% end %>
			<% end %>	
		<% @listings_collection = Listing.where(:section => "Collection") %>
			<% @listings_collection.each do |listing| %>
				<% if @upsell_listings_arr.include? listing %>
					<% @upsell_listings_arr.delete(listing) %>
				<% end %>
			<% end %>	
		<!-- END  -->



		<!-- Start upsell pic list -->
		<ul id="upsell_listings_pics">
	
			<p style="text-decoration: underline;">STYLE WITH:</p>
			<% @upsell_listings_arr.each do |listing| %>
			<!-- Creating li tag -->
		  	<li>
		  		<a href="/listings/<%=listing.id%>"><%= image_tag(listing.default_picture.image.url) %></a>
	      		<!-- Using the default picture for the listings contained and displaying it in a list -->
		  		<p><%= listing.name %></p>
		  		<p>$<%= listing.price %></p>
				<!-- Displaying name and price -->
	  		</li>
			<% end %>
      	</ul>
      	<!-- End upsell pic list -->



		<% if logged_in? %>
						<%= form_for @listing, remote: true, :html => {:multipart => true, :class => "edit-form"} do |f| %>
							<%= f.label(:name) %>
						  	<%=f.text_field :name, :maxlength => 29 %><br><br>
						  	<%= f.label :price %>
						  	<%= f.number_field :price %><br><br>
						  	<%= f.label "New?" %>
						  	<%= f.check_box :is_new %> 
						  	<%= f.label "Hidden?"%>
						  	<%= f.check_box :is_hidden %> 
						  	<%= f.label "On Sale?" %>
						  	<%= f.check_box :on_sale %><br><br>
						  	<%= f.label "Sale Price" %>
						  	<%= f.text_field :original_price %><br><br>
						  	<%= f.label("Fabric/Material") %>
							<%= f.text_field :fabric %><br><br>
						  	<%= f.label :fit %>
						  	<%= f.text_field :fit %><br><br>						  	
						  	<%= f.label :size_guide %>
						  	<%= f.text_field :size_guide %><br><br>
						  	<%= f.label :care %>
						  	<%= f.text_field :care %><br><br>
					    	<%=f.label :size %>
						    <%= f.text_field :size %><br><br>
						    <!-- <input type="text" name="listing[size]" /><br><br> -->
						    <%=f.label :description %>
						   	<%=f.text_area :description %><br><br>
						  	<%=f.label :section %>
							<%= f.text_field :section %> <br><br>
							<%=f.label :collection %>
							<%= f.text_field :collection %>	<br><br>

							<%= file_field_tag "images[]", type: :file, multiple: true %><br><br>
					      	<%= f.submit "Update", :id => "update-button"  %><br><br>
					    <% end %>

					<%= link_to "Delete", @listing, :method => :delete %>
					
					<% end %>

	</div>









</body>