	

<%= javascript_include_tag "application.js" %>
<%= javascript_include_tag "jquery.event.move.js" %>
<%= javascript_include_tag "jquery.event.swipe.js" %>
<%= javascript_include_tag "unslider.js" %>
<%= javascript_include_tag "unslider-min.js" %>
<%= javascript_include_tag "sweet-alert.min.js" %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'unslider', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'sweetalert', media: 'all', 'data-turbolinks-track' => true %>







<div class="logo-div">
	<h1 class="logo-text-h1">MERCY X MANKIND</h1>
	<h3 class="logo-text-h3">NEW YORK</h3>
</div>
		

<title><%= @listing.name %> | MXMNY</title>

<body style="background-image:none;">




<!-- MOBILE SLIDER -->


<div class="swiper-container">

	<div class="swiper-wrapper">
		<% @pictures.each do |pic| %>

			<div class="swiper-slide">
				<img class="list-pic" src='<%= pic.image.url %>'>
			</div>

		<% end %>
	</div>

    <div class="swiper-pagination"></div>
</div>

<!-- END MOBILE SLIDER -->
 




<div id="listings-show-div">
	<ul id="listings-show-pictures">
	   
	   <% @pictures.each do |pic| %>

	      <li>
		      <a href="/pictures/<%=pic.id%>" class="" >
		      	<img src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'>
		      	<!-- <img id="a<%= pic.id %>" src='<%= pic.image.url %>' data-zoom-image='<%= pic.image.url %>'> -->
		      </a>

		      	<% if logged_in? %> 
		      	<%= pic.description %>
		      	<%= pic.link %> 


		      <br>

			 	<%= form_for pic, remote: true, :html => {:class => "edit-form"} do |f| %>
			      	<%= f.text_field :description, :placeholder => "DESCRIPTION" %>
			      	<%= f.text_field :link, :placeholder => "LINK FOR SLIDESHOW" %>
			      	<%= f.label :default %><%= f.check_box :default %>
			      	<%= f.submit "Update", :id => "update-button"  %><br><br>
			    <% end %>

			    <%= form_for pic, remote: true, method: :delete, :html => {:class => "delete-form"} do |f| %>
			    	<% f.text_field :image %>
			    	<%= f.submit "Delete Picture", :id => "delete-picture-submit" %>
			    <% end %>

			    <br><br>
		     		<!-- <button id="picture-delete"> Delete Picture </button> -->
	      </li>

		  		<% end %>

		<% end %> 
	</ul>
</div>














	<div id="listings-details">
	
		   <a class="listings-back-link" href="/listings"> MENS \ </a> 
		   <a class="listings-back-link" href="/listings"> <%=@listing.section.upcase%> </a>
		<%= form_tag add_to_cart_listing_path(@listing) do %>
					<a style="text-decoration:none;" href="<%=listing_path(@listing)%>"></a>
					<p style="margin-top:30px;margin-bottom: 10px;" class="listings-details-header-text"><%= @listing.name %></p>


					<% if @listing.on_sale == false %> <!-- if listing is NOT ON SALE  -->
						<p style="margin:0px 100px -10px 30px;" class="listings-details-subtext">$<%= @listing.price %></p> <br>
						
							<script>
								fbq('track', 'ViewContent', {
								value: <%= @listing.price %>,
								content_name: "<%= @listing.name %>",
								currency: 'USD'
								});
							</script>

					<% else %>
						<p class="listings-details-subtext" style="color:red; margin:0px 100px -10px 30px;">$<%= @listing.price %></p>
						<p class="listings-details-subtext" style="color:gray; margin:0px 100px -10px 30px;text-decoration: line-through;">$<%= @listing.original_price %></p><br>

							<script>
								fbq('track', 'ViewContent', {
								value: <%= @listing.price %>,
								content_name: "<%= @listing.name %>",
								currency: 'USD'
								});
							</script>

					<% end %>

					<div style="margin-bottom: 30px;width:90%;" class="line-separator"></div>
					<!-- Change color to gray when there is no sale -->

					<select id="size" name="size"><br>
						<% @size = @listing.size.split(",") %>
							<option>CHOOSE SIZE ↓</option>
						<% @size.each do |s| %>
							<option value="<%= s %>"><%= s %></option>
						<% end %>
				 	</select>

				 	<input id="add-to-cart-btn" type="submit" value="ADD TO CART +"><br>

	
					<div style="width:95%;margin-bottom:60px;" class="line-separator"></div>

					<p class="listings-details-header-text">DETAILS / STORY</p>
					<p class="listings-details-subtext"><%= @listing.description.upcase.html_safe %></p>
					<p class="listings-details-header-text"> FABRIC / MATERIAL </p>
					<p class="listings-details-subtext"><%= @listing.fabric.upcase %></p>
					<p class="listings-details-header-text"> FIT </p>
					<p class="listings-details-subtext"><%= @listing.fit.upcase.html_safe %></p>
					<p class="listings-details-header-text"> CARE </p>
					<p class="listings-details-subtext"><%= @listing.care.upcase %></p>

					<div style="margin-bottom: 140px;" class="line-separator"></div>

					<p style="text-align: center;" class="listings-details-header-text">Questions regarding fit, details, care etc.? <span id="contact-us">Contact us here.</span><a id="contact-email" style="color:black;display:none;" href="mailto:info@mercytomankindco.com">info@mercytomankindco.com</a></p>


				
					 <br/>


					<br>
					

					<br>
					<br>
									<div class="line-separator"></div>


		<% end %>
		<br>


		 <% @upsell_listings_arr = @listings.sample(2) %> 
		<!-- Randomly selecting two listings and creating a new array containing them-->
		
		<!-- Finding and Removing any collection ids -->
		<% @listing_222 = Listing.find(222) %>
		<% @listing_202 = Listing.find(202) %>
		<% @listing_130 = Listing.find(130) %>
		<% @listing_144 = Listing.find(144) %>
		<% @listing_199 = Listing.find(199) %>
		<!-- Removal -->
		<% if @upsell_listings_arr.include?  @listing_222 %>
				<% @upsell_listings_arr.delete(@listing_222) %>
		<% end %>
		<% if @upsell_listings_arr.include?  @listing_202 %>
				<% @upsell_listings_arr.delete(@listing_202) %>
		<% end %>
		<% if @upsell_listings_arr.include?  @listing_130 %>
			<% @upsell_listings_arr.delete(@listing_130) %>
		<% end %>
		<% if @upsell_listings_arr.include?  @listing_144 %>
				<% @upsell_listings_arr.delete(@listing_144) %>
		<% end %>
		<% if @upsell_listings_arr.include?  @listing_199 %>
			<% @upsell_listings_arr.delete(@listing_199) %>
		<% end %>	
		<!-- End collection id removal -->

		<!-- Start upsell pic list -->
		<ul id="upsell_listings_pics">
			<p style="text-decoration: underline;">STYLE WITH:</p>
			<% @upsell_listings_arr.each do |listing| %>

		

			<!-- Creating li tag -->
		  	<li>
		  		<a href="/listings/<%=listing.id%>"><%= image_tag(listing.default_picture.image.url) %></a>
	      		<!-- Using the default picture for the listings contained and displaying it in a list -->
		  		<p><%= listing.name %></p>
		  		<p>$<%= listing.price %></p>
				<!-- Displaying name and price -->
	  		</li>
			<% end %>
      	</ul>
      	<!-- End upsell pic list -->



		<% if logged_in? %>
						<%= form_for @listing, remote: true, :html => {:multipart => true, :class => "edit-form"} do |f| %>
							<%= f.label(:name) %>
						  	<%=f.text_field :name %><br><br>
						  	<%= f.label :price %>
						  	<%= f.number_field :price %><br><br>
						  	<%= f.label "New?" %>
						  	<%= f.check_box :is_new %> 
						  	<%= f.label "On Sale?" %>
						  	<%= f.check_box :on_sale %><br><br>
						  	<%= f.label "Sale Price" %>
						  	<%= f.text_field :original_price %><br><br>
						  	<%= f.label("Fabric/Material") %>
							<%= f.text_field :fabric %><br><br>
						  	<%= f.label :fit %>
						  	<%= f.text_field :fit %><br><br>
						  	<%= f.label :care %>
						  	<%= f.text_field :care %><br><br>
					    	<%=f.label :size %>
						    <%= f.text_field :size %><br><br>
						    <!-- <input type="text" name="listing[size]" /><br><br> -->
						    <%=f.label :description %>
						   	<%=f.text_area :description %><br><br>
						  	<%=f.label :section %>
							<%= f.text_field :section %> <br><br>
							<%=f.label :collection %>
							<%= f.text_field :collection %>	<br><br>

							<%= file_field_tag "images[]", type: :file, multiple: true %><br><br>
					      	<%= f.submit "Update", :id => "update-button"  %><br><br>
					    <% end %>

					<%= link_to "Delete", @listing, :method => :delete %>
					
					<% end %>

	</div>









</body>