	
<title>Checkout | MXMNY</title>
<%= javascript_include_tag "application.js" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<body style="background-image:none;" >
<ul class="checkout-nav" id="shipping-checkout-nav">
	<li><a href="/cart">CART</a> <span> > </span></li>
	<li><a href="/shipping">SHIPPING INFORMATION</a> <span> > </span></li>
	<li>PAYMENT</li>
</ul>

<h1 class="h1-headers">REVIEW ORDER</h1>




<% if session[:cart].present? %>


	<% 
		@products = @cart.map{ |key, count| { #iterate over @cart to pull out keys
			:listing => Listing.find_by_id(key.split('-').first), #splitting the key to find the first text which is going to be the listing id
			:size => key.split('-').last, #splitting the key to find the last object which is going to be the size
			:count => count #quantity in cart
		} }
		@total = @products.sum{ |product| product[:listing].try(:price) || 0 } #sum of the products price
		@product_details = @products.map do |product| 
			[product[:listing].try(:name), product[:size]].join(' - ') 
		end
		session[:product_details] = @product_details.join(", ")
	%>










	<table id="checkout-listing-table">
		<tbody>

			<% @products.each do |product| %>
				<% next unless listing = product[:listing] %>
				<tr>

						<td>
						<a href="/listings/<%=listing.id%>"><%= image_tag(listing.default_picture.image.url)%> </a></td>
						
						<td><p style="font-weight: 700;"><%= listing.name %></p>
						<p >(<%= product[:size]%>)</p>
						<p ><%= number_to_currency(listing.price) %></p></td>



				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>


<div id="checkout-div-seperator" class="line-separator"></div>

<% if session[:firstname] %>
	
<% @code = "MERCY" %>
	<div id="shipping-info-div">

		<ul id="shipping-info-list">
			<li><%=session[:company]%></li>
			<li><%=session[:firstname]%> <%=session[:lastname]%></li> 
			<li>

			<%=session[:address]%>
			<!-- IF APT SESSION IS VALID, PRINT APT TEXT, ELSE NO. -->
			<% if session[:apt] != "" %>
			 	APT./SUITE <%= session[:apt] %> </li>
			 <%else%>

			 <% end %>

			<li><%=session[:city]%> <%=session[:state]%> <%=session[:zip]%></li> 
			<li><%=session[:country]%></li> 
			<li><%=session[:phone]%></li><br><br>
			<li> <a style="font-weight:700;color:black;" href="/shipping">EDIT SHIPPING DETAILS ></a> </li>
		</ul>

		<div class="line-separator"></div>

		<ul id="total-list">
			<li><p><span class="total-headings">PRODUCTS TOTAL:</span> <%= number_to_currency(@total) %> USD</p></li> <!--SUM OF THE PRODUCTS -->
			
			<li>
				<p>
					<span class="total-headings">SHIPPING:</span>

					<% 
					if session[:shipping] == 'Free Shipping'
						@shipping_charges = 0
					end
					%>

					<%
					if session[:shipping] == 'International Shipping'
						@shipping_charges = 12
					end
					%>

				 <%= session[:shipping] %> - <%= number_to_currency(@shipping_charges) %> USD
				 </p> <!-- SHIPPING CHARGES --> 

			</li>

			<li>
				<p>
				<span class="total-headings">SUBTOTAL:</span> 
				<% @subtotal = @total + @shipping_charges.to_i %> 
				<!-- CALCULATION OF TOTAL SUM OF PRODUCTS + SHIPPING CHARGES-->

				<%= number_to_currency(@subtotal) %> USD
				<!-- DISPLAYING SUBTOTAL -->
				</p>

			</li>

			<li>
				<p>
				<span class="total-headings">TOTAL TAX: </span>
				<% if session[:state]=='NY' %>
					<% @total_tax = @subtotal * 0.06 %> 
					<!-- CALCULATION OF TAX -->

					<%= number_to_currency(@total_tax) %> USD
					<!-- DISPLAYING TAX FEE-->
				<% else %>
						$0 USD
				 <% end %>
				</p>
			</li>

			<li>
				<p>
				<span class="total-headings">DISCOUNT </span>
					<% if session[:code] == @code %> <!--  IF CODE ENTERED AT SHIPPING = @code -->
						<% @discount_percentage = 0.15 %>
						<% @discount = @subtotal * @discount_percentage %>
						<% @savings_discount = @subtotal - @discount %>
						<%= number_to_currency(@discount) %> USD
					<% else %>
						 0 USD 
					<% end %>
				</p>
			</li>			


			<div style="margin-top:30px;" class="line-separator"></div>

			<li>
				<h1 style="font-weight: 700;"><span class="total-headings">TOTAL:</span> 
						<% @final_total = @subtotal.to_f + @total_tax.to_f - @discount.to_f %>
						<%= number_to_currency(@final_total) %> 
				</h1> 
			</li>
			

		</ul>
		</div>


	


<% @stripe_amount = (@final_total*100).to_i; %> 
<!-- #SET STRIPE AMOUNT TO @NEW_TOTAL -->
<% session[:total] = sprintf("%.2f", @final_total) %>





<table>

<tr>
	<td style="padding-top:30px;">

	<%= form_tag charges_path do %>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="Thanks For Your Purchase"
	          data-amount="<%=@stripe_amount%>"></script>
	          <input type="hidden" name="final_amount" value="<%=session[:total] %>"  />
	<% end %>
	</td>
</tr>

<tr>
	<td>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="n00747874@students.ncc.edu">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="<%=@product_details%>">
			<input type="hidden" name="amount" id="paypal_amount" value="<%=session[:total]%>">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="button_subtype" value="services">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="return" value="http://127.0.0.1:3000/charges">
			    <input type="hidden" name="rm" value="2">
			    <input type="hidden" name="cbt" value="Return to The Store">
			    <input type="hidden" name="cancel_return" value="http://www.mercyxmankind.com/checkout">

			    <!-- PayPal Checkout -->
			<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_SM.gif:NonHostedGuest">
			<input type="image" src="assets/paypal-button-00a838638405359daed55f4c472c1be232525463bb4bb141cfc2cd0c289d645b.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
		</form>
	</td>
</tr>
</table>



<% else %>
	<tr><td>No product to purchase</td></tr>
<%
end
 %>
</table>

</body>
<br><br>


