<%= javascript_include_tag "application.js" %>


<div class="logo-div">
	<h1 class="logo-text-h1">MERCY X MANKIND</h1>
	<h3 class="logo-text-h3">NEW YORK</h3>
</div>

<hr>



<script>
	fbq('track', 'Purchase', {
	value: <%=session[:total] %>,
	content_name: "<%=session[:product_details]%>",
	currency: 'USD'
	});
</script>




<p class="order-complete-text">Thank you for your order! You should be receieving an email shortly. If you have any questions please email us at: </p>


<a href="mailto:info@mercytomankindco" class="order-complete-text">info@mercyxmankind.com</a>

<br>

<h3>Follow us!</h3>

<a href="http://www.facebook.com/mercytomankindclothing"><%=image_tag 'fb.png', :class => 'icons-complete' %></a>
<a href="http://www.instagram.com/mercytomankind.ny"><%=image_tag 'ig.png', :class => 'icons-complete' %></a>

