	<html>
	<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "jquery.slides.js" %>
	<%= javascript_include_tag "jquery.slides.min.js" %>


	<script type="text/javascript" src="assets/application.js"></script>
	<script type="text/javascript" src="assets/jquery.slides.js"></script>
	<script type="text/javascript" src="assets/jquery.slides.min.js"></script>

	  <script>
	    $(function(){
	      $("#slides").slidesjs({
	        width: 940,
	        height: 1000,
	        navigation: {
		      active: false,
		        // [boolean] Generates next and previous buttons.
		        // You can set to false and use your own buttons.
		        // User defined buttons must have the following:
		        // previous button: class="slidesjs-previous slidesjs-navigation"
		        // next button: class="slidesjs-next slidesjs-navigation"
		      effect: "fade"
		        // [string] Can be either "slide" or "fade".
		    },
		   play: {
		      active: false,
		        // [boolean] Generate the play and stop buttons.
		        // You cannot use your own buttons. Sorry.
		      effect: "fade",
		        // [string] Can be either "slide" or "fade".
		      interval: 3000,
		        // [number] Time spent on each slide in milliseconds.
		      auto: true,
		        // [boolean] Start playing the slideshow on load.
		      swap: true,
		        // [boolean] show/hide stop and play buttons
		      pauseOnHover: false,
		        // [boolean] pause a playing slideshow on hover
		      restartDelay: 2500
		        // [number] restart delay on inactive slideshow
		    },
		   pagination: {
		      active: false,
		        // [boolean] Create pagination items.
		        // You cannot use your own pagination. Sorry.
		      effect: "slide"
		        // [string] Can be either "slide" or "fade".
		    }

	      });
	    });
	  </script>
	
<!-- 	if (window.innerHeight > window.innerWidth){
    	alert("Please rotate your mobile device to view this page!");
  };
 -->

	<title> MERCY X MANKIND NY </title>

	</head>
	<div class="wrapper">
		<body >
	
		<header>
<!-- 		<ul id="top-nav">
			<li><a href="/cart">CART</a></li>
			<span>
			<li><a href="/checkout">CHECKOUT</a></li>
			<% if logged_in? %>
				<a href="/logout">LOGOUT</a>	
			<% end %>
			</span>

		</ul> -->

				<!-- <p>MERCY X MANKIND</p>
				<p>NEW YORK </p>
				<p>"HAVE MERCY"</p> -->
				<!-- <p>GIVING ALL OF MANKIND THE WANT TO EXPERIENCE GARMENTS MADE WITH THE HEART AND SOUL OF AN ENTITY THAT STRIVES ON INNOVATING AND PRODUCING ATTIRE AT THE HIGHEST PLATFORM OF DESIGN</p> -->
			</header>

			<h1>MERCY X MANKIND</h1>
			<h3>NEW YORK</h3>
		<!-- 	<a href="/listings"><img src="assets/welcome-pic-2fda93a3a360be1e9f71e54a3ca0761ab54155c9458deeab552fb2bc63d74993.jpg" id="front-page-pic"></a> -->
			<!-- 	<ul id="welcome-pics">

				<li>

				<a href="/listings"><img src="assets/welcome-pic-1-b34083d0e662442ae7d1740897e7909b1412d59641f5ee98a1f0e5a46d09eb59.jpg"></a>

				</li>
				<li>

				<a href="/listings"><img src="assets/welcome-pic-2-795c878f47c87467825a78954eee5a951284a0eab6b845d8c772daf4fb2abf2d.jpg"></a>

				</li>

				<br>
				
				<li>

				<a href="/listings"><img src="assets/welcome-pic-3-217d1d8f727ddac3a95c82d3bc7b14d4e981237f01627ff8e3501beaeab7eace.jpg"></a>

				</li>
				<br>


				<li>

				<a href="/listings"><img src="assets/welcome-pic-6-2d4ee775754c35f5517c5c9f010e05dfc4e6381841ac286509b6359226cd7b2e.jpg"></a>

				</li>

				<li><a href="/listings"><img src="assets/welcome-pic-7-6c67a9f391b21b2ae0858593c4ef929561c3027567895bfa1f66f813bad0b022.jpg"></a>
				</li>

				<li><a href="/listings"><img src="assets/welcome-pic-8-5f1af7120e220f19d1f0576cd8f8111878dec9d853195055cc757a5a68c64451.jpg"></a>
				</li>

				</ul> -->
		
	<!-- 	<ul id="nav">

			<li><a id="shop-button" href="/listings">SHOP</a></li>
				<ul id="shop-sub-nav">
					<li><a href="/listings">TOPS</a></li>
					<li><a href="/listings">BOTTOMS</a></li>
					<li><a href="/listings">HEADWEAR</a></li>
					<li><a href="/listings">WRISTWEAR</a></li>
				</ul>
			<li><a href="/collections">COLLECTION</a></li>
			<li><a href="/collections">CONTACT</a></li>
				<ul id="contact-hide">
					<li style="color:white">info@mercytomankindco.com</li>
				</ul>


		</ul>
 -->


   <div id="slides" style="margin-bottom:120px;">
  	<img src="assets/IMG_1866-653d248ca4c8cb9bdd57adb05e645a25d0d6855eb094b3dc8183f593d9fa90dc.jpg">
  	<img src="assets/IMG_162-dd77d5b773cb4aa37f2ae180d5873d21e4c093aae7971b30e0c7280651ca0f39.jpg">
  	<img src="assets/M2mk_Final_23-ba3bc5355ba5c54172d2e5cb9c5109eaf20bb507abb4c5b5a36800eb9c443399.jpg">
    <!-- <img src="assets/pic1-288bdde970eb46feb2575fa574fd0a3da517a60c64146a0cd83e40613a137f3d.jpg"> -->
    <!-- <img src="assets/pict5-2575e3d1f0fa5c8b92035232957ea07bc5454293c2f96ce7a60dc1b37b21f496.jpg"> -->
    <!-- <img src="assets/welcome-pic-2fda93a3a360be1e9f71e54a3ca0761ab54155c9458deeab552fb2bc63d74993.jpg"> -->


  </div>

<!--   <ul id="below-slideshow-ul">
  	<li><a href="listings/58"><img src="assets/velvet-shorts-db3d0a5ad60c95a1fd2d532096877ffd4499d722d8851051a39bd392c80b72f0.jpg"></a></li>
  	<li><a href="listings/59"><img src="assets/magnetic2-cdd2699dc8ff0b723d9f0e3d8da2cf9f3392f2e8dd4e006a5e91481afa96461c.jpg"></a></li>
  	<li><a href="listings/57"><img src="assets/thumbholepic-d452ff74b6d6ad1ca7fc430b6ca232bc4afb3d14261e3e5b0bea3684b29489d0.jpg"></a></li>

  </ul> -->

  <!-- <img style="width: 100%; height:200px;" src="assets/bluehoodieback.jpg"> -->

  <!-- <h1>INSTAGRAM</h1> -->
<!-- <iframe src="http://snapwidget.com/sc/?u=bWVyY3l0b21hbmtpbmQubnl8aW58MTUwfDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=111115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:150px"></iframe> -->



		<div class="push"></div>
		</body>

	</div>

	<!-- 	<div class='footer'>
			<ul>
				<li><p>CONTACT</p></li>
				<li><p>CUSTOMER CARE</p></li>
				<span>
				<li><%=image_tag 'fb.png', :class => 'icons' %></li>	
				<li><%=image_tag 'ig.png', :class => 'icons' %></li>	
				<li><%=image_tag 'twitter.png', :class => 'icons' %></li>	

				</span>
			</ul>
	
		</div>
 -->

</html>


		