	<html>
	<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<%= javascript_include_tag "application.js" %>


	<script type="text/javascript" src="assets/application.js"></script>

	<script>
	
	if (window.innerHeight > window.innerWidth){
    	alert("Please rotate your mobile device to view this page!");
  };

	</script>

	</head>
	<div class="wrapper">
		<body >
	
		<header>
<!-- 		<ul id="top-nav">
			<li><a href="/cart">CART</a></li>
			<span>
			<li><a href="/checkout">CHECKOUT</a></li>
			<% if logged_in? %>
				<a href="/logout">LOGOUT</a>	
			<% end %>
			</span>

		</ul> -->

				<!-- <p>MERCY X MANKIND</p>
				<p>NEW YORK </p>
				<p>"HAVE MERCY"</p> -->
				<!-- <p>GIVING ALL OF MANKIND THE WANT TO EXPERIENCE GARMENTS MADE WITH THE HEART AND SOUL OF AN ENTITY THAT STRIVES ON INNOVATING AND PRODUCING ATTIRE AT THE HIGHEST PLATFORM OF DESIGN</p> -->
			</header>

			<h1>MERCY X MANKIND <br>NEW YORK</h1>
			<a href="/listings"><%= image_tag 'welcome-pic.jpeg', :id => "welcome-pic" %></a>
			<p>
			
			<a href="http://www.instagram.com/mercytomankind.ny"><%=image_tag 'ig.png', :class => 'icons'%>mercytomankind.ny</a> | <a href="/listings">FALL/WINTER CAPSULE AVAILABLE NOW.</a>

			</p>

	<!-- 	<ul id="nav">

			<li><a id="shop-button" href="/listings">SHOP</a></li>
				<ul id="shop-sub-nav">
					<li><a href="/listings">TOPS</a></li>
					<li><a href="/listings">BOTTOMS</a></li>
					<li><a href="/listings">HEADWEAR</a></li>
					<li><a href="/listings">WRISTWEAR</a></li>
				</ul>
			<li><a href="/collections">COLLECTION</a></li>
			<li><a href="/collections">CONTACT</a></li>
				<ul id="contact-hide">
					<li style="color:white">info@mercytomankindco.com</li>
				</ul>


		</ul>
 -->

		<div class="push"></div>
		</body>

	</div>

	<!-- 	<div class='footer'>
			<ul>
				<li><p>CONTACT</p></li>
				<li><p>CUSTOMER CARE</p></li>
				<span>
				<li><%=image_tag 'fb.png', :class => 'icons' %></li>	
				<li><%=image_tag 'ig.png', :class => 'icons' %></li>	
				<li><%=image_tag 'twitter.png', :class => 'icons' %></li>	

				</span>
			</ul>
	
		</div>
 -->

</html>


		