	<html>
	<head>
		<meta name="description" content="MERCY X MANKIND NEW YORK | Contemporary Urbanwear For The Modern Being | SPRING/SUMMER 2016 Available Now."/>

	<%= javascript_include_tag "application.js" %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- MAILCHIMP FORM -->
	<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"5194035157454408880655014","lid":"3460c40b66"}) })</script>
	<!-- END FORM  -->


	

	<title> MERCY X MANKIND NEW YORK </title>

	</head>


	<div class="wrapper">

		<body>
		
	

	
			<h1 class="logo-text-h1">MERCY X MANKIND</h1>
			<h3 class="logo-text-h3">NEW YORK</h3>
		
   <!-- SS 16 SLIDESHOW -->
   <div id="slides">
   		 <% @pictures.each do |pic| %>
	   		 <% if logged_in? %>

	   		 <a href="listings/<%= @listing.id %>">
				<img src="<%= pic.image.url %>">
	   		 </a>

	   		 <%else%>


	   		 <a href="/<%=pic.link%>">	 <img src="<%= pic.image.url %>"> </a>

	   		 <% end %>
   		 <% end %>
  	<!-- <img src="assets/sale-banner-c165bd9f5d0503c205e4a61209d6207708a83333223d93a27bb52055e1d80e4e.jpg">
  	<img src="assets/list4-aa64e272778149a396a0dd04c3cf2576a29c16adeff3c83c7ac2bf24063f80fb.jpg">
  	<img src="assets/IMG_1647-ebe460600789fd951e97fb802bd18fe553a010df7214fbbcbb85d99b4abe74de.jpg">
  	<img src="assets/slide3-1c31d6addcd1676aa85a4ca0c586234a4f28b7f1a641f2acfc40712f6071d3f1.jpg">
  	<img src="assets/IMG_1866-dfd8fccd16a6a5b7dc1e2e5215b8a4124452bfd3206c68731ce1252b05e65c05.jpg">
  	<img src="assets/IMG_3968-a8bb0ffd3b718664cab3a9cce28dc6367af7ccf7b40f37e128eb757dae687e9d.jpg">
  	<img src="assets/IMG_162-9ba52f25f0af83f100a5b206f31838d5aadfff77b36a5c1b56eab66fb43e5c77.jpg">
  	<img src="assets/list5-754075c5fc1978c167a4e97ad8325cc161f13c7d062fab0ffd21660e95354d4b.jpg"> -->
  </div>

	<!-- SS 16 CAPSULE SLIDESHOW -->
 <!--  <div id="slides">
  	<img src="assets/slide2-d698a16c71f4c98733b92c2381833d586795e61a46ed5a547ad45349ff520135.jpg">
  	<img src="assets/slide1-d76815e7ad49658a0e2bc5557334732d18e0d813d217dc6073a006e95ff172b8.jpg">
  	<img src="assets/slide4-b5d1dc1bb4d4dc1e03230a3fcf318d9b9c66d110eb5e2672e1a9b4aa37fcc26c.jpg">
  	<img src="assets/slide5-5bcb217dc31d5cf9bd24cc150f6ad4653ced643dc48de9fdbfe2a7afd3b4b4ec.jpg">
  	<img src="assets/slide6-6b80d80ea1f04d21937333d06d361c16fad9351949e6b2561a12a683f77c55cf.jpg">

  </div> -->

<!--   <ul id="below-slideshow-ul">
  	<li><a href="listings/58"><img src="assets/list1-8a38b82bd412b362850cee49361600397de10f91e931f09ad5372fd6689ce8e6.JPG"></a></li>
  	<li><a href="listings/59"><img src="assets/list2-ae2f0ac0e9ede7a0b338f6af0b7d565f6566870f5b85d57fad318605888ea9ee.JPG"></a></li>
  	<li><a href="listings/57"><img src="assets/list3-096647577f71ca2eac331a19f9e5b7f897f4a05a5499805d4e07f13ada409771.JPG"></a></li>

  </ul>


 -->

  <ul id="below-slideshow-ul">

  	<!-- <li><p>JUDGEMENT DAY<br><br>Welcome To Judgement Day. Highlighting the terrors of the past and present, this capsule looks to push the modern day being to ponder over historic events through a series of controversial images. Events ranging from WWII to the Rothschild Surrealist Ball, the array of photographs reminds us of the horrors of the past and how they relate to our present day life. The capsule was created as a reminder for society to never forget that we as indivduals must strive to prevent the loss of human conscience when being sorrounded by the distractions of dubious news and events.   </p></li><br><br> -->
  	<!-- <li><a href="listings/135"><img src="assets/list1-ss16cap-59d9cb3820001f92e59dbce3b1657cd4752edd3fdc2a0db4293f4a662a599893.jpg"></a></li> -->
  	<!-- <li><a href="listings/137"><img src="assets/list2-ss16cap-1159f02e9564afa493b30f7b39d588b61869c243ff6d833ceb586d59321bd94a.jpg"></a></li> -->
 
<!--   	<li>
  		<figure class="below-slideshow-ul-figure">

			  	<img class="below-slideshow-ul-image" src="assets/jeans-below-ul.JPG">
		  	
		  		<a href="/listings">
				  	<figcaption class="below-slideshow-ul-figcaption">
				  		<p>SHOP</p>
				  	</figcaption>
			  	</a>

	  	</figure>
  	</li>
 -->
   	<li>
			  	<a href="/listings-bottoms"><img class="below-slideshow-ul-image" src="assets/jeans-below-ul-56362d52642b4c64e8e58558588fe00acb33667d86771c1e7360b1e5ddf18a86.JPG"></a>
			  	<h1>MXM:001 ANTI FLASH DENIM</h1>
			  	<p>Available in Black, Charcoal Gray and Lightwash Blue</p>
  	</li>



 	<li>
			  	<a href="/collections"><img class="below-slideshow-ul-image" src="assets/316-below-ul-3a056532752c632a9e0b669bd13f8eb7407afe80dcb2513d6cb5cf00a653872c.jpg"></a>
			  	<h1>FALL/WINTER 16' LOOKBOOK</h1>
			  	<p>Available now.</p>
		  	
		  		
  	</li>

  </ul>
  



	<a href="http://www.instagram.com/mercytomankind.ny"><img src="assets/c4-e990a312ef26b6b087b25923f52f6ac03444d3d4c2fe804f567b00c1dd5600e5.jpg" style="width:97%;margin-bottom: 30px;box-shadow: 1px 1px 4px gray;"></a>

<!-- <div id="headwear-slide-div">
  <ul>
		<% @listings_head.each do |listing| %>
					<% if listing.default_picture %>

			<li>
				<figure class="headwear-figure">
				
	            	<%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
	            	<a href="/listings/<%= listing.id %>">
	            		<figcaption class="headwear-figcaption">
	            			<p><%= listing.name %></p>

	            		</figcaption>
	            	</a>
	            	<% else %>
	              		N/A
	            	<% end %>
	            </a>
            	</figure>

			</li>
			
			<% end %>

  </ul>

</div> -->
<!-- <iframe src="http://snapwidget.com/sc/?u=bWVyY3l0b21hbmtpbmQubnl8aW58MTUwfDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=111115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:150px"></iframe> -->



		<div class="push"></div>
		
		</body>

	</div> 
	<!-- End Wrapper -->





</html>

  <script>
	    $(function(){
	      $("#slides").slidesjs({
	        width: 940,
	        height: 1000,
	        navigation: {
		      active: false,
		        // [boolean] Generates next and previous buttons.
		        // You can set to false and use your own buttons.
		        // User defined buttons must have the following:
		        // previous button: class="slidesjs-previous slidesjs-navigation"
		        // next button: class="slidesjs-next slidesjs-navigation"
		      effect: "fade"
		        // [string] Can be either "slide" or "fade".
		    },
		   play: {
		      active: false,
		        // [boolean] Generate the play and stop buttons.
		        // You cannot use your own buttons. Sorry.
		      effect: "fade",
		        // [string] Can be either "slide" or "fade".
		      interval: 3000,
		        // [number] Time spent on each slide in milliseconds.
		      auto: true,
		        // [boolean] Start playing the slideshow on load.
		      swap: true,
		        // [boolean] show/hide stop and play buttons
		      pauseOnHover: false,
		        // [boolean] pause a playing slideshow on hover
		      restartDelay: 2500
		        // [number] restart delay on inactive slideshow
		    },
		   pagination: {
		      active: false,
		        // [boolean] Create pagination items.
		        // You cannot use your own pagination. Sorry.
		      effect: "slide"
		        // [string] Can be either "slide" or "fade".
		    }

	      });
	    });
	  </script>
		