<html>
	<head>
		<title> MERCY X MANKIND NEW YORK </title>
		<%= javascript_include_tag "application.js" %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<!-- BEGIN PRIVY WIDGET CODE -->
		<script type='text/javascript'> var _d_site = _d_site || '39F45F7BD0352326343B684B'; </script>
		<script src='//widget.privy.com/assets/widget.js'></script>
		<!-- END PRIVY WIDGET CODE -->
		<meta name="description" content="MERCY X MANKIND NEW YORK | Contemporary Urbanwear For The Modern Being | SPRING/SUMMER 2016 Available Now."/>
	</head>


<div class="wrapper">

<body>

<!-- DESKTOP SWIPER  -->
  <div class="swiper-container1">
    <div style="height:650px;margin-bottom: 15px;" id="#index-swiper-wrapper" class="swiper-wrapper">
		    <% @listing_desktop_index_slide = Listing.find_by_id(266) %>
			<% @pictures = @listing_desktop_index_slide.pictures.order(description: :asc)  %>
			<% @pictures.each do |pic| %>
			<% if logged_in? %>

			      <div class="swiper-slide">
			      	<a href="/listings/<%=@listing_desktop_index_slide.id%>">
						<img style="width: 98%" class="list-pic-index" src="<%=pic.image.url%>">
					</a>
			      </div>

			    <% else %>

			      <div class="swiper-slide">
		   		 	<a href="/<%=pic.link%>">
						<img class="list-pic-index" src='<%= pic.image.url %>'>
			      	</a> 
			      </div>
				<% end %>
      		<% end %>


    </div>

    <div style="left:35px;" class="swiper-button-prev swiper-button-white"></div>
    <div style="right:35px;" class="swiper-button-next swiper-button-white"></div>
    
    <!-- Add Pagination -->
    <div id="swiper1-pag" class="swiper-pagination"></div>

  </div> 

<!-- END DESKTOP SWIPER-->



 <!-- MOBILE SWIPER -->
  <div class="swiper-container2">
    <div style="height:1300px; margin-bottom: 15px;" id="#index-swiper-wrapper" class="swiper-wrapper">
		    <% @listings_mobile_index_slide = Listing.find_by_id(267) %>
			<% @pictures = @listings_mobile_index_slide.pictures.order(description: :asc)  %>
			<% @pictures.each do |pic| %>
			<% if logged_in? %>
		      
		      <div class="swiper-slide">
		      	<a href="/listings/<%=@listings_mobile_index_slide.id%>">
					<img class="list-pic" src="<%=pic.image.url%>">
				</a>
		      </div>
		    <%else%>

		      <div class="swiper-slide">
	   		 	<a href="/<%=pic.link%>">
					<img class="list-pic" src="<%=pic.image.url%>" %>
		      	</a>
		      </div>
		      <% end %>

      	<% end %>
    </div>
    <!-- Add Pagination -->
        <div style="left:35px;" class="swiper-button-prev swiper-button-white"></div>
    <div style="right:35px;" class="swiper-button-next swiper-button-white"></div>
    
    <div style="height:150px;z-index: 100;" class="swiper-pagination"></div>

  </div> 
  <!-- END MOBILE SWIPER  -->


<!--
<div id="shipping-box">
	<p>FREE SHIPPING + FREE RETURNS ( USA ONLY ) </p>
</div>  
-->

<hr>

		
   <h3 class="index-section-titles">MEDIA</h3>

  	<ul id="media-list"> 
   		<li>
		  	<a href="/collections/269"><img src="/assets/media-list-1-chris.jpg"></a>  	
  		</li>   		   		

  		<li>
		  	<a href="/brand"><img src="/assets/media-list-2 2.jpg"></a>  	
  		</li>   		

  		<li>
		  	<a href="http://www.instagram.com/mercytomankind.ny"><img src="assets/media-list-3 3.jpg"></a>  	
  		</li>
  	</ul>

<hr>

	<h3 id="film-heading" class="index-section-titles">EXPLORE</h3>
	<!-- MOBILE INDEX VIEO - HIDDEN ON DESKTOP-->
	 <iframe id="index-film" src="https://player.vimeo.com/video/259062808" width="920" height="680" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<!-- END MOBILE INDEX VIDEO  -->

	<!-- DESKTOP FILM LSIT -->
  	<ul id="film-list">

   		<li>
		  	<a href="/media"><img class="film-list-img" src="assets/film-list-3-76cfb08207bf9c840bd9806627bce52585e4293860006db55659d3d2b7590a45.jpg"></a><br>
		  	<p style="font-size: 10px;margin:10px 0px;font-family: 'Helvetica';font-weight: bold;">
		  		"THE DEPTHS"
		  	</p>
  		</li>   		

  		<li>
		  	<a href="/collections/269"><img class="film-list-img" src="assets/film-list-text.jpg"></a><br>
		  	<p style="font-size: 10px;margin: 10px 0px;font-family: 'Helvetica';font-weight: bold;">MERCY X MANKIND NEW YORK:"NOTHING COMES EASY"</p>	
  		</li>   		

  	</ul>

<hr>	

	<%
	@listings = Listing.all.order(price: :desc)
	  @limited_shuffle_mobile = @listings.first(25).shuffle
      @limited_final_mobile = @limited_shuffle_mobile.first(6)
      %>
			<% @listings_press = Listing.where(:section => "Press") %>
			<% @listings_press.each do |listing| %>
				<% if @limited_final_mobile.include? listing %>
					<% @limited_final_mobile.delete(listing) %>
				<% end %>
			<% end %>

		<% @listings_slideshow = Listing.where(:section => "Slideshow") %>
			<% @listings_slideshow.each do |listing| %>
				<% if @limited_final_mobile.include? listing %>
					<% @limited_final_mobile.delete(listing) %>
				<% end %>
			<% end %>	
		<% @listings_collection = Listing.where(:section => "Collection") %>
			<% @listings_collection.each do |listing| %>
				<% if @limited_final_mobile.include? listing %>
					<% @limited_final_mobile.delete(listing) %>
				<% end %>
			<% end %>	


	<h3 style="margin-bottom: 20px;" class="index-section-titles">POPULAR</h3>
	<!-- MOBILE PRODUCT TABLE - HIDDEN ON DESKTOP -->
	<table class="products" id="mobile-product-table">
	<tr>
 		<td class="col">
			<ul id="listings_on_welcome_index">

			<div class="mobile-line-separator"></div>
			<% @limited_final_mobile.each do |listing| %>
            	<li>
	            	<figure class="listings-figure"> 	
			            	
			        <%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
			            	
	            	<a href="<%=listing_path(listing)%>">
			            	<figcaption class="listings-figcaption"> 

			            		<p> 
									<%= listing.name.upcase %><br><br><br> 
			            			<%=	listing.description.upcase.html_safe%> <br><br>
			            			
			            			<% if listing.on_sale == false %> <!-- IF LISTING IS NOT ON SALE -->
				            			<span style="padding:0px;color:black;">

				            				$<%= listing.price %>.00

				            			</span>
				            		<% else %>
										<span style="padding:0px;color:red;">

				            				$<%= listing.price %>.00

				            			</span>
										<span style="padding: 0px;text-decoration: line-through;">

											$<%= listing.original_price %>.00

										</span>
									<% end %>

			            		</p> 

			            	</figcaption>
					</a>
					<p class="mobile-figure-p"><%= listing.name.upcase %></p>
					<p class="mobile-figure-p"><%= listing.price %> USD</p> 

		           </figure>

			

				</li>
				<% end %>
				</ul>
			</td>
		</tr>
	</table>
<!-- END MOBILE PRODUCT TABLE  -->


		 <% @upsell_listings_arr = @listings.sample(2) %> 

	<%
	@listings = Listing.all.order(price: :desc)
	  @limited_shuffle = @listings.first(25).shuffle
      @limited_final_desktop = @limited_shuffle.first(4)
    %>
		<!-- Randomly selecting two listings and creating a new array containing them-->
			
		<!-- REMOVING ANY LISTINGS FROM SECTIONS PRESS, SLIDESHOW AND COLLECTION  -->

		<% @listings_press = Listing.where(:section => "Press") %>
			<% @listings_press.each do |listing| %>
				<% if @limited_final_desktop.include? listing %>
					<% @limited_final_desktop.delete(listing) %>
				<% end %>
			<% end %>

		<% @listings_slideshow = Listing.where(:section => "Slideshow") %>
			<% @listings_slideshow.each do |listing| %>
				<% if @limited_final_desktop.include? listing %>
					<% @limited_final_desktop.delete(listing) %>
				<% end %>
			<% end %>	
		<% @listings_collection = Listing.where(:section => "Collection") %>
			<% @listings_collection.each do |listing| %>
				<% if @limited_final_desktop.include? listing %>
					<% @limited_final_desktop.delete(listing) %>
				<% end %>
			<% end %>	

<!-- DESKTOP PRODUCT LIST -->
	<ul id="desktop-products-list">
		<% @limited_final_desktop.each do |listing| %>
	    	
	    	<li>    	
		        <%= link_to image_tag(listing.default_picture.image.url), listing_path(listing) %>
 				<p class="desktop-products-list-text"><%= listing.name.upcase %></p>
				<p class="desktop-products-list-text"><%= listing.price %> USD</p>  
			</li>
		<% end %>
	</ul>
<!-- END DESKTOP PRODUCT LIST -->


<!-- End Wrapper -->
</div>

</body>

</html>
