<title>Cart | MXMNY</title>
<%= javascript_include_tag "application.js" %>


<body style="background-image:none;">


<ul class="checkout-nav" id="shipping-checkout-nav">
	<li>CART<span> > </span></li>
	<li>SHIPPING INFORMATION<span> > </span></li>
	<li>PAYMENT</li>
</ul>
<h1 class="h1-headers">CART</h1>
<div class="line-separator"></div>


<!-- Start cart -->

<ul id="cart-list">
	<% if !@cart.blank? %> <!-- If the cart is NOT empty -->
		<% @cart.each do |key, count| %> <!-- iterate over each key in the cart -->
			<% 
				id, size = key.split('-') #split the object at "-" making "listing.id, size"
				listing = Listing.find_by_id(id) #find the listing by its id
				next if listing.blank? #proceed if there is no listing present
			%>

			
				<li>
					<a href="/listings/<%= listing.id %>"><%= image_tag(listing.default_picture.image.url) %></a>
					<p style="font-weight: 700;"><%= listing.name %></p>
					<p><%= size %></p>
					<p><%= number_to_currency(listing.price) %> USD</p>
					<%= link_to "REMOVE", remove_from_cart_listing_path(key), :method => :delete %>
				</li>

		<% end %>
	<% else %>
		No product in the cart
	<% end %>
</ul>


	<a href="/shipping"><button class="continue-button">CHECKOUT</button></a>
</body>



