	

<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
	<meta name="description" content="MERCY X MANKIND NEW YORK | Contemporary Urbanwear For The Modern Being | FALL/WINTER 2016 Available Now."/>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.ico' %>

	<!-- <title>MERCY X MANKIND NY</title> -->
</head>

<div class="wrapper">
	<body>
		
		


		<ul id="top-nav">
			<li><a><%=image_tag 'nav-image.png', :id => "nav-image" %></a></li>
				
				<ul id="hidden-nav">
					<li><a href="/index">HOME</a></li>
					<li><a href="/listings">SHOP</a></li>
					<li><a href="/media">MEDIA</a></li>
					<li><a href="/collections">LOOKBOOKS</a></li>
					<li><a href="/customercare">CONTACT</a></li>
					<li><a href="/cart">CART</a></li>
				</ul>
			

		
		</ul>



	<%= yield %>






			<div class="push"></div>
			<div id="bottom-nav-div">
				<ul id="bottom-nav">


					<li><a href="/collections">LOOKBOOKS</a></li>
					<li><a href="http://www.instagram.com/mercytomankind.ny">INSTAGRAM</a></li>
					<li><a href="http://www.facebook.com/mercytomankindclothing">FACEBOOK</a></li>
					<li><a href="/media">MEDIA</a></li>
					<li><a href="/customercare">CONTACT</a></li>
					<li><a href="/cart">CART</a></li>

				</ul>
			</div>

			<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

		<div id="mc_embed_signup">
			<form action="//mercytomankindco.us13.list-manage.com/subscribe/post?u=5194035157454408880655014&amp;id=5b29eda186" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Join Our Newsletter!</label>
					<p>Join our newsletter today for exclusive promotions, offers and insider details on your favorite products.</p>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL ADDRESS" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true">
					    <input type="text" name="b_5194035157454408880655014_5b29eda186" tabindex="-1" value="">
				    </div>
					    
					<div class="clear">
					    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				    </div>
				</div>
			</form>
		</div>

<!--End mc_embed_signup-->

			<p style="padding-bottom: 40px;font-size: 8px;">MERCY X MANKIND NEW YORK ©. ALL RIGHTS RESERVED. EST 2014</p>
	</body>
</div>

	<div class='footer'>
			<ul>
				<!-- <li><a href="/contact"><p>CONTACT</p></a></li> -->
				<li><a href="/customercare"><p>CUSTOMER CARE</p></a></li>
				<span>
				<li><a href="http://www.facebook.com/mercytomankindclothing"><%=image_tag 'fb.png', :class => 'icons' %></a></li>	
				<li><a href="http://www.instagram.com/mercytomankind.ny"><%=image_tag 'ig.png', :class => 'icons' %></a></li>	
				<!-- <li><a href="http://www.twitter.com/mercy2mankindco"><%=image_tag 'twitter.png', :class => 'icons' %></a></li>	 -->

				</span>
			</ul>
	
		</div>

</html>
